<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10-col-sm-12 form-signin mt-5">
      <h3 class="text-center mt-3"><%= @event.name %></h3>
      <%= form_for @event, url: court_event_path(court_id: params[:court_id], event_id: params[:id]) do |f| %>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control'  %>
        </div>

        <div class="form-group">
          <%= f.label :description %>
          <%= f.text_field :description, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :date %>
          <%= f.datetime_field :date, class: 'form-control timepicker'%>
        </div>

        <div class="form-group">
          <%= f.label :num_of_players %>
          <%= f.text_field :num_of_players, class: 'form-control' %>
        </div>

        <%= f.submit "Edit", class: 'all-buttons pink-button text-center large-button' %>
      <% end %>
    </div>
  </div>
</div>
