<div class="container gray-back">
  <h5 class="text-center text-secondary pt-2"><%= @court.name %></h3>
  <h3 class="text-center">Events</h3>

  <div class="row">
  <% @events.each do |event| %>
    <% if !event.is_past_event? %>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card-rale white-back mb-3">
          <div class="card-body">
            <h5 class="card-title"><%= event.name %></h5>
            <p class="card-subtitle mb-2"><%= event.description %></h6>
            <div class="d-flex justify-content-between mb-3">
              <p class="card-text"><i class="far fa-calendar-alt mr-2"></i> <%= event.date.strftime('%d/%m/%Y') %></p>
              <p class="card-text"><i class="fas fa-users mr-2"></i> <%= event.event_users.count %> / <%= event.num_of_players %></p>
              <p class="card-text"><i class="far fa-clock mr-2"></i> <%= event.time == nil ? "00:00" : event.date.strftime('%H:%M') %></p>
            </div>
            <%= link_to "More details", court_event_path(event.court, event), class: "all-buttons pink-button btn-block text-center"%>
          </div> <!--  END OF CARD BODY -->
        </div> <!--  END OF CARD RALE -->
      </div><!--  END OF COL -->
    <% end %>
  <% end %>
  </div><!--  END OF ROW -->

  <h3 class="text-center">Past events</h3>

  <div class="row">
    <% @events.each do |event| %>
      <% if event.is_past_event? %>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="card white-back mb-3">
            <div class="card-body">
              <h5 class="card-title"><%= event.name %></h5>
              <p class="card-subtitle mb-2"><%= event.description %></h6>
              <div class="d-flex justify-content-between">
                <p class="card-text"><i class="far fa-calendar-alt mr-2"></i> <%= event.date.strftime('%d/%m/%Y') %></p>
                <p class="card-text"><i class="fas fa-users mr-2"></i> <%= event.event_users.count %> / <%= event.num_of_players %></p>
                <p class="card-text"><i class="far fa-clock mr-2"></i> <%= event.time == nil ? "00:00" : event.date.strftime('%H:%M') %></p>
              </div>
              <%= link_to "More details", court_event_path(event.court, event), class: "all-buttons black-button btn-block text-center"%>
            </div>
          </div>
        </div><!--  END OF COL -->
      <% end %>
    <% end %>
  </div><!--  END OF ROW -->
</div>
