<div class="container">
  <h2><%= @event.name %></h2>
  <% if current_user %>
    <% if policy(@event).edit? %>
      <%= link_to "Edit", edit_court_event_path(@court, @event), class: "btn btn-primary" %>
    <% end %>
  <% end %>
  <!-- JOIN BUTTON -->

  <% if current_user %>

    <% if  @event.is_event_full? %>

      <%= button_to "Join Event", court_event_event_users_path(@court, @event), method: :post, class: "btn btn-primary", disabled: true %>

    <% elsif @event.is_user_registered?(current_user.id) %>

      <%= button_to "Join Event", court_event_event_users_path(@court, @event), method: :post, class: "btn btn-primary", disabled: true %>

        <% if policy(@event_user).destroy? %>
          <%= button_to "Unjoin event", court_event_event_user_path(@court, @event), {action: :destroy, method: :delete} %>
        <% end %>

    <% else %>

      <%= button_to "Join Event", court_event_event_users_path(@court, @event), method: :post, class: "btn btn-primary" %>

    <% end %>

  <% else %>

    <%= button_to "Join Event", court_event_event_users_path(@court, @event), method: :post, class: "btn btn-primary" %>

  <% end %>

  <p>Created by <strong><%= link_to @user.username, profile_path(@user.username) %></strong></p>

  <p>Players joined (<%= @event.event_users.count %>):</p>
  <ul>
    <% @event.event_users.each do |user| %>
      <li><%= user.user.username %></li>
    <% end %>
  </ul>
</div>
