<div class="container">
  <h1>List of all courts</h1>
  <% @courts.each do |court| %>
    <p><%= court.name %></p>
    <p><%= court.description %></p>
    <p><%= court.address %></p>
    <p><%= court.capacity %></p>
    <%=  link_to "Create Event", new_court_event_path(court), class: "btn btn-success"%>
    <%=  link_to "Check events", court_events_path(court), class: "btn btn-primary"%>
  <% end %>
</div>
