<div class="container">
  <div class="d-flex justify-content-between mt-4">
    <div class="court-img">
      <% if @court.photo.attached? %>
        <%= cl_image_tag @court.photo.key %>
      <% else %>
        <img src="https://images.unsplash.com/photo-1523225078415-687408717027?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=745&q=80" alt="Card image cap">
      <% end %>
    </div>
    <div class="court-description ml-4">
      <h3 class="mb-4"><%= @court.name %></h3>
      <h5 class="mb-4"><i class="fas fa-map-marker-alt"></i> <%= @court.address %></h5>
      <p><%= @court.description %></p>

      <!-- <h3>Capacity:</h3>
      <p><%= @court.capacity %></p> -->
      <div class="bottom-btn">
        <%=  link_to "Create Event", new_court_event_path(@court), class: "all-buttons pink-button text-center btn-block" %>
      </div>
    </div>
  </div>

  <h3 class="text-center my-5">Events</h3>
  <% if @court.events.empty? %>
    <p>There are no events for this court.</p>
    <%= link_to "Create Event", new_court_event_path(@court), class: "all-buttons black-button-sm" %>
  <% else %>
    <div class="row">
        <% @court.events.each do |event| %>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card-rale mb-3">
                <div class="card-body">
                  <h4 class="card-title"><%= event.name %></h4>
                  <p><i class="far fa-calendar-alt"></i> <span class="card-text mb-2 ml-2"> <%= event.date %></span></p>
                  <p><i class="fas fa-users"></i><span class="card-text ml-2"> <%= event.event_users.count %> / <%= event.num_of_players %></span></p>
                  <%= link_to "Check details", court_event_path(@court, event), class: "all-buttons text-center black-button btn-block" %>
                </div>
            </div>
          </div><!--  END OF COL -->
        <% end %>
    </div><!--  END OF ROW -->
  <% end %>

</div>
