<div class="header">
  <div class="court-img">
    <% if @court.photo.attached? %>
      <%= cl_image_tag @court.photo.key %>
    <% else %>
      <img src="https://images.unsplash.com/photo-1523225078415-687408717027?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=745&q=80" alt="Card image cap">
    <% end %>
  </div>
  <div class="court-description mt-4">
    <h3 class="text-center"><%= @court.name %></h3>
    <h5 class="mb-4 text-center"><i class="fas fa-map-marker-alt"></i> <%= @court.address %></h5>
  </div>
</div>

<div class="container">
  <p class="mt-3"><%= @court.description %></p>
  <div class="bottom-btn">
    <%=  link_to "Create Event", new_court_event_path(@court), class: "all-buttons pink-button text-center btn-block" %>
  </div>
</div>
<div class="container gray-back mt-4">
  <h4 class="text-center pt-3 mb-4">Events</h4>
  <% if @court.events.empty? %>
    <p>There are no events for this court.</p>
    <%= link_to "Create Event", new_court_event_path(@court), class: "all-buttons black-button-sm" %>
  <% else %>
    <div class="row">
        <% @court.events.order(date: :desc).each do |event| %>
        <% if !event.is_past_event? %>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card-rale white-back mb-3">
                <div class="card-body">
                  <h4 class="card-title"><%= event.name %></h4>
                  <div class="d-flex justify-content-around event-info">
                    <p><i class="far fa-calendar-alt"></i> <span class="card-text mb-2 ml-2"> <%= event.date.strftime('%d/%m/%Y') %></span></p>
                    <p><i class="far fa-clock"></i> <span class="card-text ml-2"><%= event.date.strftime('%H:%M') %></span></p>
                    <p><i class="fas fa-users"></i><span class="card-text ml-2"> <%= event.event_users.count %> / <%= event.num_of_players %></span></p>
                  </div>
                  <%= link_to "Check details", court_event_path(@court, event), class: "all-buttons text-center white-button white-button-outline btn-block" %>
                </div>
            </div>
          </div><!--  END OF COL -->
        <% end %>
      <% end %>
    </div><!--  END OF ROW -->

    <h4 class="text-center my-5">Past events</h4>
    <div class="row">
        <% @court.events.order(date: :desc).each do |event| %>
          <% if event.is_past_event? %>
            <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="card-rale white-back mb-3">
                  <div class="card-body">
                    <h4 class="card-title"><%= event.name %></h4>
                    <div class="d-flex justify-content-around event-info">
                    <p><i class="far fa-calendar-alt"></i> <span class="card-text mb-2 ml-2"> <%= event.date.strftime('%d/%m/%Y') %></span></p>
                    <p><i class="far fa-clock"></i> <span class="card-text ml-2"><%= event.date.strftime('%H:%M') %></span></p>
                    <p><i class="fas fa-users"></i><span class="card-text ml-2"> <%= event.event_users.count %> / <%= event.num_of_players %></span></p>
                  </div>
                    <%= link_to "Check details", court_event_path(@court, event), class: "all-buttons text-center black-button btn-block" %>
                  </div>
              </div>
            </div><!--  END OF COL -->
          <% end %>
        <% end %>
    </div><!--  END OF ROW -->

  <% end %>

</div>
