<div class="container">
  <h1>Court:</h1>
  <h2><%= @court.name %></h2>
  <h3>Description:</h3>
  <p><%= @court.description %></p>
  <h3>Address:</h3>
  <p><%= @court.address %></p>
  <h3>Capacity:</h3>
  <p><%= @court.capacity %></p>
  <%= cl_image_tag @court.photo.key, height: 300, width: 400, crop: :fill %>
</div>
