<div class="text-center">
  <div class="form-signin mt-5">
    <h3>Log in</h3>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
    <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    <div class="form-actions">
      <%= f.button :submit, "Log in", class: "all-buttons pink-button btn-block" %>
    </div>
<% end %>
    <div class="mt-2">
      <%= render "devise/shared/links" %>
    </div>
  </div> <!-- END OF FORM SIGNIN -->
</div> <!-- END OF TEXT-CENTER -->
